div.tooltip {
    position: absolute;
    text-align: center;
    padding: 8px;
    font: 15px sans-serif;
    background:#c2c2d6;
    border: 1px;
    border-radius: 6px;
    pointer-events: none;
    display: inline-block;
    white-space: nowrap;
    z-index:1002;
}

.airport_info {
    text-align: left;
}

svg {
    margin: 0 auto; /* poor attempt at centering */
    height: auto !important; /* overrides inline */
    width: auto !important; /* overrides inline */
    display: block;
}

.ticks {
    font: 10px sans-serif;
}

.track,
.track-inset,
.track-overlay {
    stroke-linecap: round;
}

.track {
    stroke: #000;
    stroke-opacity: 0.3;
    stroke-width: 10px;
}

.track-inset {
    stroke: #ddd;
    stroke-width: 8px;
}

.track-overlay {
    pointer-events: stroke;
    stroke-width: 50px;
    cursor: crosshair;
}

.handle {
    fill: #fff;
    stroke: #000;
    stroke-opacity: 0.5;
    stroke-width: 1.25px;
}

/*table,th,td {
    border:1px solid black;
}

caption {
    display: table-caption;
    text-align: center;
    z-index:1001;
    pointer-events: none;
}

p {
    font-size: 120%;
}*/


.states {
    fill: gray;
}

.state-borders {
    fill: none;
    stroke: #fff;
    stroke-width: 0.5px;
    stroke-linejoin: round;
    stroke-linecap: round;
    pointer-events: none;
}

#cover-container {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.mega-header {
  font-size: 80px !important;
}

#american-bg {
  width: 500px;
}

#american-scene {
  position: relative;
  margin: auto;
}

.legend {
  font-size: 12px;
}

rect {
  stroke-width: 2;
}